.App {
  text-align: center;
}

body {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, #fff, #666666);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.element {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.element.animated {
  opacity: 1;
  transform: translateY(0);
}
